form{
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
    background-color: #afd;
    display: table;
    width: 100%;
}

input{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    height: 30px;
    font-size: 22px;

}

.question{
    color: #f64c72;
    font-size: 22px;
    margin-bottom: 20px;

}

.option{
    font-size: 22px;

}

.option input{
    display: inline;
    width: fit-content;
    height: 10px;

}